# Module 3 Exercises - Data Manipulation

### Exercise 1:

From the datasets folder, load in the "dupedata.csv" file as a dataframe. Drop the duplicates from the dataframe, keeping the first value (save the resulting dataframe to a new variable).

In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets/dupedata.csv')
df_nodupe=df.dropna()
df_nodupe.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

### Exercise 2:

Using the dataframe in the previous exercise, select all the rows where students received a grade lower than 60 (they need a teacher conference on how to improve for the next test).

In [8]:
df_nodupeFailing=df_nodupe.loc[df_nodupe.grade<60]
df_nodupeFailing.head()

,fname,lname,gender,age,exercise,hours,grade,address
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703"
410,Linda,Baldwin,female,16,5,2,59.0,"970 SW. Second Ave., Cedar Falls, IA 50613"
556,Lacey,Nieves,female,18,1,2,57.9,"38 West Brickyard Avenue, Roslindale, MA 02131"
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292"
672,Ciaran,Gay,male,19,4,3,59.3,"157 Bridge Street, Corona, NY 11368"

### Exercise 3:

Using the dataframe from Exercise 1, select all the rows where a student received a grade of 100 and change their grade to 103 (extra credit!).

In [9]:
np.where(df_nodupe['grade']==100,103,df_nodupe['grade'])

array([82.4, 78.2, 79.3, ..., 75.3, 80.7, 84.2])

In [10]:
     df_nodupe.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

### Exercise 4:                          

Load in the "travel_times.csv" file as a dataframe. Drop the "Comments" column. Then remove rows from the dataframe that have missing values and assign the resulting dataframe as a new variable.

In [34]:
travel_data= pd.read_csv('datasets/travel-times.csv')
travel_data_noComments=travel_data.drop('Comments',axis=1)
travel_data_noComments=travel_data_noComments.dropna(axis=0)
travel_data_noComments.head(20)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No

### Exercise 5:

Using the dataframe from the exercise above (w/ no missing values), create bins that will categorize the AvgSpeed column as "slow" or "fast", and make a new column called "Speed" to hold those new values. Values less than 75 are "slow" and everything above is "fast".

In [39]:
group_names=['slow','fast']
bins=[0,75,100]
travel_data_noComments["Speed"]=pd.cut(travel_data_noComments["AvgSpeed"],bins,labels=group_names)
travel_data_noComments.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No,fast
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No,fast
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow

### Exercise 6:

Using the dataframe in the previous exercise, make a new column called "Police" which is equal to all the values being "no" (they were never stopped by police for speeding while traveling).

In [41]:
travel_data_noComments['Police']='no'
travel_data_noComments.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed,Police
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No,fast,no
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No,fast,no
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast,no
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow,no
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow,no

### Exercise 7:

Using the dataframe from the previous exercise, pick a method (Standard Deviation or Interquartile Range) and remove the outliers from the "FuelEconomy" column.

In [44]:
travel_data_noComments['FuelEconomy'].dtypes

dtype('O')

In [49]:
travel_data_clean=np.where(travel_data_noComments['FuelEconomy']=='-','0',travel_data_noComments['FuelEconomy'])

In [52]:
travel_data_clean

array(['0', '0', '8.89', '8.89', '8.89', '8.89', '8.89', '8.89', '8.89',
       '8.89', '9.08', '9.08', '9.08', '9.08', '9.08', '9.08', '9.08',
       '9.08', '9.76', '9.76', '9.76', '9.76', '9.76', '9.76', '9.76',
       '9.16', '9.16', '9.16', '9.3', '9.3', '9.3', '9.3', '9.3', '9.3',
       '10.05', '10.05', '10.05', '10.05', '9.53', '9.53', '9.53', '9.53',
       '9.53', '9.53', '9.53', '9.53', '9.35', '9.35', '9.35', '9.35',
       '9.35', '9.35', '9.35', '9.35', '8.32', '8.32', '8.32', '8.32',
       '8.32', '8.32', '8.32', '8.32', '8.97', '8.97', '8.97', '8.97',
       '8.97', '8.97', '8.75', '8.75', '8.75', '8.75', '8.75', '8.75',
       '8.75', '8.75', '8.75', '8.75', '8.75', '7.81', '7.81', '7.97',
       '7.97', '7.97', '7.97', '7.97', '7.97', '7.97', '7.97', '7.97',
       '7.97', '8.93', '8.93', '8.93', '8.93', '8.31', '8.31', '8.31',
       '8.31', '8.31', '8.31', '8.33', '8.33', '8.33', '8.33', '8.33',
       '8.33', '8.33', '8.33', '8.33', '8.33', '8.5', '8.5', '8.5', '8.5',
       '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5',
       '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.54', '8.54',
       '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54',
       '8.37', '8.37', '8.37', '8.37', '8.37', '8.37', '8.37', '8.37',
       '8.37', '8.37', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54',
       '8.54', '8.54', '8.54', '8.54', '8.48', '8.48', '8.48', '8.48',
       '8.48', '8.48', '8.48', '8.48', '8.45', '8.45', '8.45', '8.45',
       '8.45', '8.45', '8.45', '8.45', '8.45', '8.45', '8.28', '8.28',
       '8.28', '7.89', '7.89', '7.89', '7.89', '7.89', '7.89'],
      dtype=object)

In [53]:
travel_data_noComments['FuelEconomy']=travel_data_clean

In [54]:
travel_data_noComments.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed,Police
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,0,37.2,35.3,No,fast,no
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,0,37.9,34.3,No,fast,no
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast,no
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow,no
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow,no

In [56]:
travel_data_noComments['FuelEconomy']=travel_data_noComments['FuelEconomy'].apply(lambda x:float(x))

In [57]:
travel_data_noComments.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed,Police
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,0.00,37.2,35.3,No,fast,no
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,0.00,37.9,34.3,No,fast,no
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast,no
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow,no
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow,no

In [60]:
meanval=travel_data_noComments['FuelEconomy'].mean()

In [61]:
stdval=travel_data_noComments['FuelEconomy'].std()

In [62]:
toprange=meanval+stdval*1.96

In [64]:
botrange=meanval-stdval*1.96

In [65]:
newdf=travel_data_noComments.copy()

In [66]:
newdf=newdf.drop(newdf[newdf['FuelEconomy']>toprange].index)

In [67]:
newdf=newdf.drop(newdf[newdf['FuelEconomy']<botrange].index)

In [68]:
newdf.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed,Police
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast,no
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow,no
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow,no
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No,slow,no
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No,fast,no